nssicc/nssicc_web/src/main/webapp/WEB-INF/services/ProspectoBS/META-INF/Comun.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ssgcmn="http://www.belcorp.biz/ssg/Comun" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.belcorp.biz/ssg/Comun">
    <xsd:complexType name="tAuditoria">
        <xsd:sequence>
            <xsd:element name="usuario" type="ssgcmn:tUsuario"/>
            <xsd:element name="sistema" type="xsd:string"/>
            <xsd:element name="fechaProceso" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tUsuario">
        <xsd:sequence>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
            <xsd:element name="login" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tMsgFault">
        <xsd:sequence>
            <xsd:element name="codigoError" type="xsd:string"/>
            <xsd:element name="descripcion" type="xsd:string"/>
            <xsd:element name="fechaHora" type="xsd:dateTime"/>
            <xsd:element name="sistema" type="xsd:string"/>
            <xsd:element name="detalle">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="URLServicio" type="xsd:string"/>
                        <xsd:element name="pilaError" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="payload" type="xsd:anyType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tRespuestaTransaccion">
        <xsd:sequence>
            <xsd:element name="mensaje" type="xsd:string"/>
            <xsd:element name="exitosa" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tRuteo">
        <xsd:sequence>
            <xsd:element name="codigoISOPais" type="xsd:string"/>
            <xsd:element name="sistema" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tLDV">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="campo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="codigo" type="xsd:string"/>
                        <xsd:element name="valor" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tEnumeracion">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="valor" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="msgFault" type="ssgcmn:tMsgFault"/>
</xsd:schema>
