nssicc/nssicc_web/src/main/webapp/WEB-INF/services/ProspectoBS/META-INF/GestionProspectos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ffvvgeo="http://www.belcorp.biz/canonico/ffvv/UbicacionGeografica" xmlns:ffvvper="http://www.belcorp.biz/canonico/ffvv/Persona" xmlns:ffvvrec="http://www.belcorp.biz/canonico/ffvv/Reclutar" xmlns:ffvvven="http://www.belcorp.biz/canonico/ffvv/Vender" xmlns:gespro="http://www.belcorp.biz/soa/mensajes/GestionProspectos" xmlns:ssgcmn="http://www.belcorp.biz/ssg/Comun" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.belcorp.biz/soa/mensajes/GestionProspectos">
    <xsd:import namespace="http://www.belcorp.biz/canonico/ffvv/Persona" schemaLocation="Persona.xsd"/>
    <xsd:import namespace="http://www.belcorp.biz/canonico/ffvv/Vender" schemaLocation="Vender.xsd"/>
    <xsd:import namespace="http://www.belcorp.biz/ssg/Comun" schemaLocation="Comun.xsd"/>
    <xsd:import namespace="http://www.belcorp.biz/canonico/ffvv/UbicacionGeografica" schemaLocation="UbicacionGeografica.xsd"/>
    <xsd:import namespace="http://www.belcorp.biz/canonico/ffvv/Reclutar" schemaLocation="Reclutar.xsd"/>
    <xsd:complexType name="tMsgInObtenerValidacionCrediticia">
        <xsd:sequence>
            <xsd:element name="datos">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="pais" type="ffvvgeo:tPais"/>
                        <xsd:element name="identificacion" type="ffvvper:tIdentificacion"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="auditoria" type="ssgcmn:tAuditoria"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tMsgOutObtenerValidacionCrediticia">
        <xsd:sequence>
            <xsd:element name="datos">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="personaDeuda" type="ffvvrec:tPersonaDeuda"/>
                        <xsd:element name="region" type="ffvvgeo:tRegion"/>
                        <xsd:element name="zona" nillable="true" type="ffvvgeo:tZona"/>
                        <xsd:element name="seccion" type="ffvvgeo:tSeccion"/>
                        <xsd:element name="consultora" type="ffvvven:tConsultora"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="auditoria" type="ssgcmn:tAuditoria"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="msgInValidacionCrediticia" type="gespro:tMsgInObtenerValidacionCrediticia"/>
    <xsd:element name="msgOutValidacionCrediticia" type="gespro:tMsgOutObtenerValidacionCrediticia"/>
</xsd:schema>
