nssicc/nssicc_web/src/main/webapp/WEB-INF/services/ProspectoBS/META-INF/Persona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ffvvper="http://www.belcorp.biz/canonico/ffvv/Persona" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.belcorp.biz/canonico/ffvv/Persona">
    <xsd:complexType name="tPersona">
        <xsd:sequence>
            <xsd:element name="primerNombre" nillable="true" type="xsd:string"/>
            <xsd:element name="segundoNombre" nillable="true" type="xsd:string"/>
            <xsd:element name="primerApellido" nillable="true" type="xsd:string"/>
            <xsd:element name="segundoApellido" nillable="true" type="xsd:string"/>
            <xsd:element name="nombreCompleto" nillable="true" type="xsd:string"/>
            <xsd:element name="fechaNacimiento" nillable="true" type="xsd:date"/>
            <xsd:element name="genero" nillable="true" type="xsd:string"/>
            <xsd:element name="estadoCivil" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="identificacion" type="ffvvper:tIdentificacion"/>
            <xsd:element minOccurs="0" name="contacto" type="ffvvper:tContacto"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tIdentificacion">
        <xsd:sequence>
            <xsd:element name="tipo" type="ffvvper:tTipoDocumento"/>
            <xsd:element name="numero" nillable="true" type="xsd:string"/>
            <xsd:element name="codigoISOPais" nillable="true" type="xsd:string"/>
            <xsd:element name="documentoPrincipal" nillable="true" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tContacto">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="telefono" nillable="true" type="ffvvper:tTelefono"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="eMail" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="direccion" type="ffvvper:tDireccion"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTelefono">
        <xsd:sequence>
            <xsd:element name="tipo" type="ffvvper:tTipoTelefono"/>
            <xsd:element name="codigoISOPais" nillable="true" type="xsd:string"/>
            <xsd:element name="codigoArea" nillable="true" type="xsd:integer"/>
            <xsd:element name="numero" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="extension" nillable="true" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tDireccion">
        <xsd:sequence>
            <xsd:element name="direccion" nillable="true" type="xsd:string"/>
            <xsd:element name="unidadGeografica" nillable="true" type="xsd:string"/>
            <xsd:element name="codigoISOPais" nillable="true" type="xsd:string"/>
            <xsd:element name="tipo" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTipoTelefono">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTipoDocumento">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
