nssicc/nssicc_web/src/main/webapp/WEB-INF/services/ProspectoBS/META-INF/Query.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ssgqry="http://www.belcorp.biz/ssg/Query" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.belcorp.biz/ssg/Query">
    <xsd:complexType name="tRangoFechas">
        <xsd:sequence>
            <xsd:element name="fechaInicio" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="fechaFin" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tListaFechas">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="fecha" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCantidad">
        <xsd:sequence>
            <xsd:element name="cantidad" nillable="true" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tPaginacion">
        <xsd:sequence>
            <xsd:element name="cantidadRegistrosXPagina" nillable="true" type="xsd:integer"/>
            <xsd:element name="paginaActual" nillable="true" type="xsd:integer"/>
            <xsd:element name="totalRegistros" nillable="true" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tOrdenamiento">
        <xsd:sequence>
            <xsd:element name="campo" type="xsd:string"/>
            <xsd:element name="criterioOrdenamiento" type="ssgqry:tCriterioOrdenamiento"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="tSiNo">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SI"/>
            <xsd:enumeration value="NO"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tCriterioOrdenamiento">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Ascendente"/>
            <xsd:enumeration value="Descendente"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
