nssicc/nssicc_web/src/main/webapp/WEB-INF/services/ProspectoBS/META-INF/Reclutar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ffvvgeo="http://www.belcorp.biz/canonico/ffvv/UbicacionGeografica" xmlns:ffvvper="http://www.belcorp.biz/canonico/ffvv/Persona" xmlns:ffvvrec="http://www.belcorp.biz/canonico/ffvv/Reclutar" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.belcorp.biz/canonico/ffvv/Reclutar">
    <xsd:import namespace="http://www.belcorp.biz/canonico/ffvv/Persona" schemaLocation="Persona.xsd"/>
    <xsd:import namespace="http://www.belcorp.biz/canonico/ffvv/UbicacionGeografica" schemaLocation="UbicacionGeografica.xsd"/>
    <xsd:complexType name="tDeuda">
        <xsd:sequence>
            <xsd:element name="monto" nillable="true" type="xsd:decimal"/>
            <xsd:element name="entidadCrediticia" nillable="true" type="xsd:string"/>
            <xsd:element name="moneda" type="ffvvgeo:tMoneda"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tPersonaDeuda">
        <xsd:sequence>
            <xsd:element name="persona" type="ffvvper:tPersona"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="deuda" type="ffvvrec:tDeuda"/>
			<xsd:element name="valoracion" type="ffvvrec:tValoracion" maxOccurs="unbounded" minOccurs="1" nillable="true"/>
			<xsd:element name="motivoBloqueo" type="ffvvrec:tMotivoBloqueo" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tProspecto">
        <xsd:sequence>
            <xsd:element name="persona" type="ffvvper:tPersona"/>
            <xsd:element name="fechaRegistro" nillable="true" type="xsd:date"/>
            <xsd:element name="origenDatos" nillable="true" type="xsd:string"/>
            <xsd:element name="observaciones" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="foto" nillable="true" type="xsd:base64Binary"/>
        </xsd:sequence>
    </xsd:complexType>
  
  <xsd:complexType name="tMotivoBloqueo">
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string" maxOccurs="1" nillable="true"/>
      <xsd:element name="tipo" type="xsd:string" maxOccurs="1" nillable="true"/>
	  <xsd:element name="observacion" type="xsd:string" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="tValoracion">
    <xsd:sequence>
      <xsd:element name="tipo" type="xsd:string" maxOccurs="1" nillable="true"/>
      <xsd:element name="valor" type="xsd:string" maxOccurs="1" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
