nssicc/nssicc_web/src/main/webapp/WEB-INF/services/ProspectoBS/META-INF/UbicacionGeografica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ffvvgeo="http://www.belcorp.biz/canonico/ffvv/UbicacionGeografica" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.belcorp.biz/canonico/ffvv/UbicacionGeografica">
    <xsd:complexType name="tPais">
        <xsd:sequence>
            <xsd:element name="codigoISO" nillable="true" type="xsd:string"/>
            <xsd:element name="nombreSimple" nillable="true" type="xsd:string"/>
            <xsd:element name="nombreComplejo" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tRegion">
        <xsd:sequence>
            <xsd:element name="codigoISOPais" nillable="true" type="xsd:string"/>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tZona">
        <xsd:sequence>
            <xsd:element name="codigoRegion" nillable="true" type="xsd:string"/>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tSeccion">
        <xsd:sequence>
            <xsd:element name="codigoZona" nillable="true" type="xsd:string"/>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="descripcion" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTerritorio">
        <xsd:sequence>
            <xsd:element name="codigoSeccion" nillable="true" type="xsd:string"/>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tMoneda">
        <xsd:sequence>
            <xsd:element name="codigoISOPais" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
            <xsd:element name="simbolo" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codigoISO" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
