nssicc/nssicc_web/src/main/webapp/WEB-INF/services/ProspectoBS/META-INF/Vender.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ffvvgeo="http://www.belcorp.biz/canonico/ffvv/UbicacionGeografica" xmlns:ffvvper="http://www.belcorp.biz/canonico/ffvv/Persona" xmlns:ffvvven="http://www.belcorp.biz/canonico/ffvv/Vender" xmlns:ssgqry="http://www.belcorp.biz/ssg/Query" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.belcorp.biz/canonico/ffvv/Vender">
    <xsd:import namespace="http://www.belcorp.biz/canonico/ffvv/Persona" schemaLocation="Persona.xsd"/>
    <xsd:import namespace="http://www.belcorp.biz/ssg/Query" schemaLocation="Query.xsd"/>
    <xsd:import namespace="http://www.belcorp.biz/canonico/ffvv/UbicacionGeografica" schemaLocation="UbicacionGeografica.xsd"/>
    <xsd:complexType name="tCronograma">
        <xsd:sequence>
            <xsd:element name="fechaInicio" nillable="true" type="xsd:date"/>
            <xsd:element name="fechaFin" nillable="true" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCronogramaActividad">
        <xsd:sequence>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
            <xsd:element name="tipo" nillable="true" type="xsd:string"/>
            <xsd:element name="fecha" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="rol" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCampania">
        <xsd:sequence>
            <xsd:element name="cronograma" type="ffvvven:tCronograma"/>
            <xsd:element name="anio" nillable="true" type="xsd:integer"/>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombreCorto" nillable="true" type="xsd:string"/>
            <xsd:element name="activo" nillable="true" type="ssgqry:tSiNo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tConsultora">
        <xsd:sequence>
            <xsd:element name="datosEstaticos" type="ffvvven:tConsultoraDatosEstaticos"/>
            <xsd:element name="datosDinamicos" type="ffvvven:tConsultoraDatosDinamicos"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tConsultoraDatosDinamicos">
        <xsd:sequence>
            <xsd:element name="estadoConsultora" nillable="true" type="ffvvven:tEstadoConsultora"/>
            <xsd:element name="segmentoConsultora" nillable="true" type="ffvvven:tSegmentoConsultora"/>
            <xsd:element name="saldo" nillable="true" type="xsd:double"/>
            <xsd:element name="PEG" nillable="true" type="ssgqry:tSiNo"/>
            <xsd:element name="cantidadVisitas" nillable="true" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="montoUltimoPedido" nillable="true" type="xsd:double"/>
            <xsd:element minOccurs="0" name="porcentajeVentaMultimarcaUltimoPedido" nillable="true" type="xsd:double"/>
            <xsd:element name="estatusCapacitacion" nillable="true" type="ssgqry:tSiNo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tConsultoraDatosEstaticos">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="persona" nillable="true" type="ffvvper:tPersona"/>
            <xsd:element name="territorio" nillable="true" type="ffvvgeo:tTerritorio"/>
            <xsd:element name="primerPedido" nillable="true" type="ssgqry:tSiNo"/>
            <xsd:element name="kitNueva" nillable="true" type="xsd:string"/>
            <xsd:element name="autorizadaPedido" nillable="true" type="ssgqry:tSiNo"/>
            <xsd:element name="campaniaIngreso" type="ffvvven:tCampania"/>
            <xsd:element name="fechaIngreso" nillable="true" type="xsd:date"/>
            <xsd:element minOccurs="0" name="LET" nillable="true" type="ffvvven:tLET"/>
            <xsd:element minOccurs="0" name="duplaCyzone" nillable="true" type="ffvvven:tDuplaCyzone"/>
            <xsd:element name="digitoVerificacion" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tConsultoraRecomendada">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="estado" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tLET">
        <xsd:sequence>
            <xsd:element name="estado" nillable="true" type="xsd:string"/>
            <xsd:element name="fechaAlta" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tEstadoConsultora">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tSegmentoConsultora">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tDuplaCyzone">
        <xsd:sequence>
            <xsd:element name="informacionPersona" nillable="true" type="ffvvper:tPersona"/>
            <xsd:element name="estado" nillable="true" type="xsd:string"/>
            <xsd:element name="fechaRegistro" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tConsultoraMeta">
        <xsd:sequence>
            <xsd:element name="codigoConsultora" nillable="true" type="xsd:string"/>
            <xsd:element name="descripcion" nillable="true" type="xsd:string"/>
            <xsd:element name="monto" nillable="true" type="xsd:double"/>
            <xsd:element name="oportunidadAhorro" nillable="true" type="xsd:double"/>
            <xsd:element name="tipo" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCDR">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="estado" nillable="true" type="ffvvven:tCDREstado"/>
            <xsd:element name="relacionado">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="pedidoRelacionado" nillable="true" type="ffvvven:tPedido"/>
                        <xsd:element name="CDRRelacionado" nillable="true" type="ffvvven:tCDR"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="campaniaIngreso" type="ffvvven:tCampania"/>
            <xsd:element name="campaniaReferencia" type="ffvvven:tCampania"/>
            <xsd:element maxOccurs="unbounded" name="CDRDetalle" type="ffvvven:tCDRDetalle"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCDRDetalle">
        <xsd:sequence>
            <xsd:element name="tipoAtencion" nillable="true" type="ffvvven:tCDRTipoAtencion"/>
            <xsd:element name="motivo" nillable="true" type="ffvvven:tCDRMotivo"/>
            <xsd:element minOccurs="0" name="productoComercialSolicitado">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="productoComercial" type="ffvvven:tProductoComercial"/>
                        <xsd:element name="cantidadSolicitado" nillable="true" type="xsd:integer"/>
                        <xsd:element name="importeSolicitado" nillable="true" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="productoComercialVendido">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="productoComercial" nillable="true" type="ffvvven:tProductoComercial"/>
                        <xsd:element name="cantidadVendido" nillable="true" type="xsd:integer"/>
                        <xsd:element name="importeVendido" nillable="true" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="estado" nillable="true" type="xsd:string"/>
            <xsd:element name="observacion" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCDRMotivo">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCDRTipoAtencion">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCDREstado">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tMarca">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
            <xsd:element name="codigoISOPais" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tProducto">
        <xsd:sequence>
            <xsd:element name="codigoSAP" nillable="true" type="xsd:string"/>
            <xsd:element name="CUV" nillable="true" type="xsd:string"/>
            <xsd:element name="descripcion" nillable="true" type="xsd:string"/>
            <xsd:element name="codigoISOPais" nillable="true" type="xsd:string"/>
            <xsd:element name="marca" type="ffvvven:tMarca"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tProductoComercial">
        <xsd:complexContent>
            <xsd:extension base="ffvvven:tProducto">
                <xsd:sequence>
                    <xsd:element name="CUV" nillable="true" type="xsd:string"/>
                    <xsd:element name="codigoCampania" nillable="true" type="xsd:string"/>
                    <xsd:element name="precioCatalogo" nillable="true" type="xsd:double"/>
                    <xsd:element name="precioValorizado" nillable="true" type="xsd:double"/>
                    <xsd:element name="indicador" nillable="true" type="xsd:string"/>
                    <xsd:element name="esPremio" nillable="true" type="ssgqry:tSiNo"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tFrecuenciaPedido">
        <xsd:sequence>
            <xsd:element name="codigoConsultora" nillable="true" type="xsd:string"/>
            <xsd:element name="frecuencia" nillable="true" type="xsd:string"/>
            <xsd:element name="tipo" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tPedido">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="bloqueado" nillable="true" type="xsd:string"/>
            <xsd:element name="estado" nillable="true" type="ffvvven:tEstadoPedido"/>
            <xsd:element name="fechaFacturado" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="fechaSolicitud" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="flete" nillable="true" type="xsd:double"/>
            <xsd:element name="motivoRechazo" nillable="true" type="ffvvven:tMotivoRechazo"/>
            <xsd:element name="observacion" nillable="true" type="xsd:string"/>
            <xsd:element name="origen" nillable="true" type="xsd:string"/>
            <xsd:element name="montoDescuento" nillable="true" type="xsd:double"/>
            <xsd:element name="montoEstimado" nillable="true" type="xsd:double"/>
            <xsd:element name="montoSolicitado" nillable="true" type="xsd:double"/>
            <xsd:element name="montoFacturado" nillable="true" type="xsd:double"/>
            <xsd:element name="montoFacturadoSinDescuento" nillable="true" type="xsd:double"/>
            <xsd:element name="percepcion" nillable="true" type="xsd:double"/>
            <xsd:element name="cantidadCUVErrado" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadFaltanteAnunciado" nillable="true" type="xsd:integer"/>
            <xsd:element name="montoPedidoRechazado" nillable="true" type="xsd:double"/>
            <xsd:element name="montoCatalogoEstimado" nillable="true" type="xsd:double"/>
            <xsd:element maxOccurs="unbounded" name="pedidoDetalle" type="ffvvven:tPedidoDetalle"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tEstadoPedido">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tPedidoDetalle">
        <xsd:sequence>
            <xsd:element name="cantidad" nillable="true" type="xsd:integer"/>
            <xsd:element name="estado" nillable="true" type="xsd:string"/>
            <xsd:element name="productoComercial" type="ffvvven:tProductoComercial"/>
            <xsd:element name="origen" nillable="true" type="xsd:string"/>
            <xsd:element name="precioTotal" nillable="true" type="xsd:double"/>
            <xsd:element name="montoDescuento" nillable="true" type="xsd:double"/>
            <xsd:element name="montoAPagar" nillable="true" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tMotivoRechazo">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCalculoPedidos">
        <xsd:sequence>
            <xsd:element name="cantidadPedidosXSeccion" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadConsultorasPEG" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadConsultorasPrimerPedido" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadPedidosIngresadosOCR" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadPedidosIngresadosDD" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadPedidosIngresadosWeb" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadPedidosIngresadosOtrosMedios" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadPedidosEnviados" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadPedidosObservados" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadPedidosRechazados" nillable="true" type="xsd:integer"/>
            <xsd:element name="cantidadPedidosFacturados" nillable="true" type="xsd:integer"/>
            <xsd:element name="montoFacturadoPedidos" nillable="true" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCalculoCobranza">
        <xsd:sequence>
            <xsd:element name="montoVentaNeta" nillable="true" type="xsd:double"/>
            <xsd:element name="montoCobranza" nillable="true" type="xsd:double"/>
            <xsd:element name="porcentajeCobranza" nillable="true" type="xsd:double"/>
            <xsd:element name="saldo" nillable="true" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tCuentaCorriente">
        <xsd:sequence>
            <xsd:element name="codigoConsultora" nillable="true" type="xsd:string"/>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="fechaRegistro" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="fechaVencimiento" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="monto" nillable="true" type="xsd:double"/>
            <xsd:element name="tipoTransaccion" nillable="true" type="xsd:string"/>
            <xsd:element name="tipoCargoAbono" type="ffvvven:tTipoCargoAbono"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTipoCargoAbono">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tVisitaConsultora">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" name="paso" nillable="true" type="xsd:string"/>
            <xsd:element name="tipo" nillable="true" type="ffvvven:tTipoVisita"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tVisitaRealizada">
        <xsd:sequence>
            <xsd:element name="estado" nillable="true" type="xsd:string"/>
            <xsd:element name="fechaRegistro" nillable="true" type="xsd:date"/>
            <xsd:element name="observacion" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tTipoVisita">
        <xsd:sequence>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tPalanca">
        <xsd:sequence>
            <xsd:element name="codigoConsultora" nillable="true" type="xsd:string"/>
            <xsd:element name="codigo" nillable="true" type="xsd:string"/>
            <xsd:element name="condicion" nillable="true" type="xsd:string"/>
            <xsd:element name="nombre" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
